.header {
  height: 400px;
  background: #343a40!important;
  background-size: cover;
  color: $white;
  text-align: center;

  & .display-6 {
    background-image: url(../images/bg.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  & .lead {
    background-image: url(../images/bg.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  @media (min-width: 1200px){
    .display-6{
      font-size: 4rem;
    }
  }

  @media (max-width: 1199px) {
    .display-6 {
      font-size: 3rem;
    }
  }
  @media (max-width: 991px) {
    height: 300px;
    .display-6 {
      font-size: 2rem;
    }
  }
  @media (max-width: 767px) {
    height: 250px;
    .display-6 {
      font-size: 1.5rem;
    }
  }
}